@page "/"

<br />
<br />
<h1>FOOD AND DRINK RECIPES</h1>

<br />
<br />

<!-- <SearchComponent SearchWord="@st"></SearchComponent> -->

<img src="/food.jpg" />

@code{
    //string st = "asdf asdfasdfgd lojk asdf fjnv";
}


